.container {
    background: #2b3150;
    --card-height: 60vh;
    --card-width: calc(var(--card-height) / 1.4);
}

.tbody {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    font-family: Helvetica;
}

.card {
    height: var(--card-height);
    width: var(--card-width);
    background: #1a2140;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #1a2140;
    position: relative;
    font-weight: 600;
}


.text-wrapper {
    position: relative;
    color: white;
}